<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://live.staticflickr.com/65535/51369056853_85ef692ae7_o.gif" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <a class="navbar-brand" style="font-family: D-DIN-Bold;" href="/">
      PHOTON LABS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComp" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            COMP-SCI
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/calc">Calculator</a></li>
            <li><a class="dropdown-item" href="/konami">Konami</a></li>
            <li><a class="dropdown-item" href="/favfoods">Favorite Foods</a></li>
            <li><a class="dropdown-item" href="/weather">Weather Map</a></li>
            <li><a class="dropdown-item" href="/coffee">Coffee Kiosk</a></li>
            <li><hr class="dropdown-divider"></li>
            <!--              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownArt" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ART
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/photo">PhotoArchive</a></li>
            <li><a class="dropdown-item" href="/3d">3D realms</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CV / RESUME</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
