

<!-- Welcome, Section -->
<section class="sectionEffect welcome" id="welcome">
  <div style="margin-top: 40%">
    <img class="avatar avatar-frame" src="/images/img261avatar1.jpg" alt="Avatar" style="max-width: 150px;">
    <p></p>
    <div class="container">
      <div class="row" style="">
        <div class="col-md-12">
          <div class="card cardEffect">
            <div class="card-body">
              <!--                        <h1>Welcome</h1>-->
              <h4>Hello World, I'm Tim! 👋</h4>
              <!--                        <p>This is my Website</p>-->
              <h4>I love all things tech, creating cool stuff, photography, karting, And of course iced coffee.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- About Section -->
<section class="about" id="about">
  <div class="container" style="margin-top: 45%">
    <div class="row" style="">
      <div class="col-md-12">
        <div class="card cardEffect">
          <div class="card-body">
            <h5 class="card-title">Computer Science</h5>
            <p class="card-text">My day job is working with distributed streaming systems. Like Kafka/Akka in Java </p>
            <!--                <p class="card-text">I'm als</p>-->
            <p class="card-text">Computers have always fascinated me. Tinkering with machines since the early 90s <a href="/compSci">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Services Section -->
<section id="services" class="sectionEffect services">
  <div class="container">
    <div class="row" style="">
      <div class="col-md-4 ">
        <div class="card cardEffect">
          <div class="card-body">
            <h5 class="card-title">Computer Science</h5>
            <p class="card-text">Without computers we wouldn't be here today</p>
            <p class="card-text">Computers have always fascinated me. Tinkering with machines since the early 90s <a href="/compSci">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card cardEffect">
          <div class="card-body" style="text-align: center; justify-content: center; align-content: center">
            <h5 class="card-title">Digital Works</h5>
            <p class="card-text">Blender is one of my hobbies, Currently working to implement my creations into game engines<a href="/compSci">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card cardEffect">
          <div class="card-body" style="align-content: end; justify-content: end">
            <h5 class="card-title">Photo Archive</h5>
            <p class="card-text">Most of my friends know me with a camera &#128247; in my hands <a href="/compSci">Read More</a></p>
            <p class="card-text">Although point and shoots were with us as kids. It wasn't until I lost my left eye</p>
            <p class="card-text">when the thought of vision became so much more</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<footer id="footer" class="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <p style="">Thank You for visiting</p>
      </div>
    </div>
  </div>
</footer>
