@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
* {
  box-sizing: border-box;
  /*font-family: D-DIN-Bold, Arial,Verdana, 'Helvetica Neue';*/
  font-family: 'Poppins';
  /*padding: 0;*/
  /*margin: 0;*/
}
/* General Styles */

html, body {
  /*font-family: Arial, Verdana,'Helvetica Neue', sans-serif;*/
  /*font-family: D-DIN-Bold, Arial,Verdana, 'Helvetica Neue';*/
  /*font-style: normal;*/
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  display: inline;
  justify-content: center;
  align-items: center;

}
.nav-item{
  font-family: 'Poppins';
  /*font-family: D-DIN-Bold, Arial,Verdana, 'Helvetica Neue';*/
  /*font-weight: 700;*/
}
#card{
  padding: 10px;
  border: 10px;
  border-color: #00b1ae;
  /*color: linear-gradient(to right, #00AAFF, #00ww6c);*/
  border-radius: 50px;
}
/* Welcome Section Styles */

#welcome {
  height: 100vh;
  background-image: url("/./../../assets/SNES.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #b7ccde;

  text-align: center;
  justify-content: center;
  align-items: center;
}

#welcome h1 {
  /*font-size: 6rem;*/
  /*margin-bottom: 2rem;*/
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#welcome h2 {
  /*font-size: 2.5rem;*/
  text-align: center;
  /*max-width: 80%;*/
  margin: 0 auto;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#welcome p {
  /*font-size: 1.2rem;*/
  line-height: 1.6rem;
}

#card-body {
  background-color: #1b6d85;
}


/* About Section Styles */

#about {
  height: 100vh;
  background-image: url("/./../../assets/waterExperiment.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #b7ccde;
  text-align: center;
  justify-content: center;
  align-items: center;


  /*position:absolute;*/
  bottom:100vh;
  /*transform:translateY(-100%);*/
  /*width:100%;*/
}


#about h1 {
  /*font-size: 6rem;*/
  margin-bottom: 2rem;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#about h2 {
  /*font-size: 2.5rem;*/
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#about p {
  /*font-size: 1.2rem;*/
  line-height: 1.6rem;
}

/* Services Section Styles */

#services {
  height: 100vh;
  padding: 4rem 0;
  background-image: url("/./../../assets/bigBend.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #b7ccde;
}

#services .card {
  border: none;
  margin-bottom: 2rem;
}

#services .card-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#services .card-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* Footer Section Styles */

#footer {
  height: 25vh;
  background-color: #000;
  color: #b7ccde;
  padding: 2rem 0;
  text-align: center;
}

#footer p {
  margin: 0;
  /*font-size: 1.2rem;*/
  line-height: 1.6rem;
}

#footer a {
  color: #b7ccde;
}

#footer a:hover {
  text-decoration: underline;
}



/* unvisited link */
a:link {
  color: #00b1ae;
}

/* visited link */
a:visited {
  color: #00b1ae;
}

/* mouse over link */
a:hover {
  color: #00b1ae;
}

/* selected link */
a:active {
  color: #00b1ae;
}


/*.navbar {*/
/*    display: inline-block;*/
/*}*/

/*.navbar-default {*/
/*    text-align: center;*/
/*}*/
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.avatar-frame {
  border: 3px solid #c7b89e;
}

.avatar-frame,.avatar-frame img{
  width: 125px;
  height: 125px;
  -webkit-border-radius: 30px; /* Saf3+, Chrome */
  border-radius: 30px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
}
